<script setup lang="ts">
import { ref, onMounted } from "vue";
import TheModal from "../components/TheModal.vue";
import EditShip from "../components/EditShip.vue";
import { useUserStore } from "../stores/UserStore";
import { useAdminStore } from "../stores/AdminStore.js";
const adminStore = useAdminStore();
const userStore = useUserStore();

const showModalCreate = ref(false);
const showModalEdit = ref(false);
const shipState = ref(null);

async function createShip(ship) {
  await adminStore.createShip(ship);
  showModalEdit.value = false;
}
async function editShip(ship) {
  await adminStore.editShip(ship, shipState.value.id);
  showModalEdit.value = false;
}
function deleteShip(ship) {
  if (confirm(`Вы действительно хотите удалить корабль ${ship.name}`)) {
    adminStore.deleteShip(ship.id);
  }
}

function setStateShip(ship) {
  shipState.value = ship;
  showModalEdit.value = true;
}

onMounted(() => {
  adminStore.getShips();
});
</script>

<template>
  <div class="create-btn" @click="showModalCreate = true">
    Создать корабль +
  </div>
  <div v-for="(ship, index) in adminStore.ships" :key="index">
    {{ index + 1 }} - {{ ship.name }}
    <button @click="setStateShip(ship)">Изменить</button>
    <button style="color: red" @click="deleteShip(ship)">X</button>
  </div>

  <teleport to="body">
    <TheModal v-if="showModalCreate" @close="showModalCreate = false">
      <EditShip @setShip="createShip" />
    </TheModal>
    <TheModal v-if="showModalEdit" @close="showModalEdit = false">
      <EditShip @setShip="editShip" :ship="shipState" />
    </TheModal>
  </teleport>
</template>

<style lang="scss" scoped></style>
