<script setup lang="ts">
import { ref, onMounted } from "vue";
import TheModal from "../components/TheModal.vue";
import EditGift from "../components/EditGift.vue";
import { useAdminStore } from "../stores/AdminStore.js";
const adminStore = useAdminStore();

const showModalCreate = ref(false);
const showModalEdit = ref(false);
const giftState = ref(null);

async function createGift(gift) {
  await adminStore.createGift(gift);
  showModalEdit.value = false;
}
async function editGift(gift) {
  await adminStore.editGift(gift, giftState.value.id);
  showModalEdit.value = false;
}
function deleteGift(gift) {
  if (confirm(`Вы действительно хотите удалить приз ${gift.name}`)) {
    adminStore.deleteGift(gift.id);
  }
}

function setStateGift(gift) {
  giftState.value = gift;
  showModalEdit.value = true;
}

onMounted(() => {
  adminStore.getGifts();
});
</script>

<template>
  <div class="create-btn" @click="showModalCreate = true">Создать приз +</div>

  <div v-for="(gift, index) in adminStore.gifts" :key="index">
    {{ index + 1 }} - {{ gift.name }}
    <button @click="setStateGift(gift)">Изменить</button>
    <button style="color: red" @click="deleteGift(gift)">X</button>
  </div>
  <teleport to="body">
    <TheModal v-if="showModalCreate" @close="showModalCreate = false">
      <EditGift @setGift="createGift" />
    </TheModal>
    <TheModal v-if="showModalEdit" @close="showModalEdit = false">
      <EditGift @setGift="editGift" :gift="giftState" />
    </TheModal>
  </teleport>
</template>

<style lang="scss" scoped></style>
