<script setup lang="ts">
import { ref, onMounted } from "vue";
import EditPool from "../components/EditPool.vue";
import EditShipsOnPool from "../components/EditShipsOnPool.vue";
import EditUsersOnPool from "../components/EditUsersOnPool.vue";
import TheModal from "../components/TheModal.vue";
import { useAdminStore } from "../stores/AdminStore.js";

const adminStore = useAdminStore();

const showModalCreate = ref(false);
const showModalEdit = ref(false);
const showModalEditOnPool = ref(false);
const showModalEditUsersOnPool = ref(false);
const poolState = ref(null);

async function createPool(pool) {
  await adminStore.createPool(pool);
  showModalCreate.value = false;
}
async function editPool(pool) {
  await adminStore.editPool(pool, poolState.value.id);
  showModalEdit.value = false;
}

function deletePool(pool) {
  if (confirm(`Вы действительно хотите удалить поле ${pool.name}`)) {
    adminStore.deletePool(pool.id);
  }
}

function setStatePool(pool) {
  poolState.value = pool;
}

function openEdit(pool) {
  setStatePool(pool);
  showModalEdit.value = true;
}
function openEditShipsOnPool(pool) {
  setStatePool(pool);
  showModalEditOnPool.value = true;
}
function openEditUsersOnPool(pool) {
  setStatePool(pool);
  showModalEditUsersOnPool.value = true;
}

function setShipsOnPool(poolId, ships) {
  adminStore.setShipsOnPool(poolId, ships);
  showModalEditOnPool.value = false;
}

onMounted(() => {
  adminStore.getPools();
});
</script>

<template>
  <button class="create-btn" @click="showModalCreate = true">
    Создать поле +
  </button>
  <table>
    <thead>
      <tr>
        <th colspan="4">Список полей</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="(pool, index) in adminStore.pools" :key="index">
        <td style="width: 80%; text-align: left">
          {{ index + 1 }} - {{ pool.name }}
        </td>
        <td><button @click="openEdit(pool)">✏️</button></td>
        <td><button @click="openEditShipsOnPool(pool)">⛴</button></td>
        <td><button @click="openEditUsersOnPool(pool)">👯</button></td>
        <td><button @click="deletePool(pool)">❌</button></td>
      </tr>
    </tbody>
  </table>

  <teleport to="body">
    <TheModal v-if="showModalCreate">
      <EditPool @setPool="createPool" />
    </TheModal>
    <TheModal v-if="showModalEdit" @close="showModalEdit = false">
      <EditPool @setPool="editPool" :pool="poolState" />
    </TheModal>
    <TheModal
      v-if="showModalEditUsersOnPool"
      @close="showModalEditUsersOnPool = false"
    >
      <EditUsersOnPool
        @close="showModalEditUsersOnPool = false"
        :pool="poolState"
      />
    </TheModal>
    <TheModal v-if="showModalEditOnPool" @close="showModalEditOnPool = false">
      <EditShipsOnPool
        @setShipsOnPool="setShipsOnPool(poolState.id, $event)"
        :pool="poolState"
      />
    </TheModal>
  </teleport>
</template>

<style lang="scss" scoped>
.table {
  width: 100%;
  margin: 40px 120px;
}
</style>
