<script setup lang="ts">
import { ref, watch } from "vue";
import { useUserStore } from "../stores/UserStore.js";
import { useRoute } from "vue-router";

const userStore = useUserStore();
const route = useRoute();

const login = ref("");
const password = ref("");
const password2 = ref("");
const adminRegisterKey = ref("");
const isRegistration = ref(false);

function restoration() {
  if (password.value === password2.value) {
    userStore.registration(login.value, password.value, adminRegisterKey.value);
    isRegistration;
  } else {
    alert("Пароли не совпадают");
  }
}

watch(
  () => isRegistration.value,
  () => {
    login.value = "";
    password.value = "";
    password2.value = "";
  }
);
</script>

<template>
  <div class="auth-container">
    <button @click="isRegistration = false">Авторизация</button>
    <button @click="isRegistration = true">Регистрация</button>
    <h1 v-if="isRegistration" class="auth_title">Регистрация</h1>
    <h1 v-else class="auth_title">Авторизация</h1>
    <div class="auth_wrapper">
      <div class="auth_form">
        <div class="auth_field">
          <span class="auth_form_span">Login</span>
          <input
            v-model="login"
            type="text"
            placeholder="Login"
            class="auth_form_input"
          />
        </div>
        <div class="auth_field">
          <span class="auth_form_span">Password</span>
          <input
            v-model="password"
            type="password"
            placeholder="Password"
            class="auth_form_input"
            @keyup.enter="
              isRegistration ? restoration() : userStore.login(login, password)
            "
          />
        </div>
        <div v-if="isRegistration" class="auth_field">
          <span class="auth_form_span">Повторите пароль</span>
          <input
            v-model="password2"
            type="password"
            placeholder="Password"
            class="auth_form_input"
            @keyup.enter="
              isRegistration ? restoration() : userStore.login(login, password)
            "
          />
        </div>
        <div v-if="isRegistration && route.meta.isAdmin" class="auth_field">
          <span class="auth_form_span"
            >ключ для регистрации администратора</span
          >
          <input
            v-model="adminRegisterKey"
            type="password"
            placeholder="Password"
            class="auth_form_input"
            @keyup.enter="
              isRegistration ? restoration() : userStore.login(login, password)
            "
          />
        </div>

        <button
          v-if="!isRegistration"
          class="auth_form_btn"
          @click="userStore.login(login, password)"
        >
          Войти
        </button>
        <button v-else class="auth_form_btn" @click="restoration()">
          Зарегистрироваться
        </button>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.auth_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.auth_form {
  display: flex;
  flex-direction: column;
  width: 400px;
}
.auth_field {
  display: flex;
  justify-content: space-between;
  // margin: 20px 500px;
}
</style>
