<script setup>
import { ref, onMounted } from "vue";
import { useUserStore } from "../stores/UserStore";
import { useRoute } from "vue-router";

const userStore = useUserStore();
const route = useRoute();
const pool = ref({});
const shotsCount = ref(0);
const shotsLog = ref([]);

async function shot(x, y) {
  if (shotsCount.value <= 0) {
    alert("У вас закончились попытки");
    return;
  }
  shotsCount.value--;

  const result = await userStore.shot(route.params.id, x, y);

  alert(result.message);
  shotsLog.value = await userStore.getUserShotsLog(route.params.id);
}

function shotResult(x, y) {
  const shot = shotsLog.value.find((shot) => shot.x === x && shot.y === y);
  return { miss: !!shot, ship: !!shot?.ship };
}

onMounted(async () => {
  pool.value = await userStore.getPoolInfo(route.params.id);
  const shots = await userStore.getUserShots(route.params.id);
  shotsLog.value = await userStore.getUserShotsLog(route.params.id);
  shotsCount.value = shots - shotsLog.value.length;
});
</script>

<template>
  <h2>{{ pool.name }}</h2>
  <div v-html="pool.description"></div>
  У вас осталось {{ shotsCount }} попыток

  <div class="game-wrapper">
    <div class="cells-wrapper">
      <div class="cell-row" v-for="x in pool.size" :key="x">
        <div
          v-for="y in pool.size"
          class="cell"
          :class="shotResult(x - 1, y - 1)"
          :key="y"
          @click="shot(x - 1, y - 1)"
        ></div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.game-wrapper {
  display: flex;
  justify-content: center;
}
.cells-wrapper {
}
.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(149, 148, 148);
  width: 30px;
  height: 30px;
  margin: 1px;
  border-radius: 10%;
  border: solid 1px black;
  font-size: 12px;
  word-wrap: break-word;
  &:hover {
    background-color: #e41212;
    box-shadow: 0 0 8px #e41212;
    z-index: 2;
  }
}

.miss {
  background-color: #06117c;
}
.ship {
  background-color: #006c00;
}
.cell-row {
  display: flex;
}
</style>
