<script setup lang="ts">
import { ref, onMounted } from "vue";
import { useUserStore } from "../stores/UserStore.js";
import GiftCard from "../components/GiftCard.vue";

const userStore = useUserStore();

onMounted(async () => {
  userStore.requestGifts();
});
</script>

<template>
  <div>Список призов пользователя</div>
  <div>
    <GiftCard v-for="gift in userStore.gifts" :key="gift.id" :gift="gift" />
  </div>
</template>

<style lang="scss" scoped></style>
