<script setup lang="ts">
import { ref } from "vue";
</script>

<template>
  <div>
    <h1>Лотерея - "Морской бой"</h1>

    Что бы Выиграть призы, необходимо
    <router-link :to="{ name: 'auth' }"> авторизоваться </router-link>
  </div>
</template>

<style lang="scss" scoped></style>
