<script setup lang="ts">
import { ref, onMounted } from "vue";
import { useUserStore } from "../stores/UserStore";

const userStore = useUserStore();
const pools = ref([]);

onMounted(async () => {
  await userStore.getUserInfo();
  pools.value = await userStore.getUsersPools();
});
</script>

<template>
  <div>Список игровых полей доступный юзеру</div>
  <div v-for="pool in pools" :key="pool.pool_id">
    <RouterLink :to="`/game/${pool.pool_id}`">
      {{ pool.name }}
    </RouterLink>
  </div>
</template>

<style lang="scss" scoped></style>
