<script setup lang="ts">
import { ref } from "vue";
import { useUserStore } from "../stores/UserStore";

const userStore = useUserStore();
</script>

<template>
  <div>
    <h1>Привет, {{ userStore.name }}</h1>
    <p>
      Твой ID - <strong>{{ userStore.id }}</strong> Сообщи его администратору,
      что бы тот пригласил тебя в игру
    </p>

    <h2>Выши призы</h2>

    <ul>
      <li v-for="prize in userStore.gifts" :key="prize.id">
        {{ prize.name }}
      </li>
    </ul>

    <button @click="userStore.logout">Выйти</button>
  </div>
</template>

<style lang="scss" scoped></style>
