<script setup>
import { computed } from "vue";
import { useUserStore } from "../stores/UserStore";

const userStore = useUserStore();
const userLinks = [
  {
    title: "Играть",
    path: "/user/pools",
  },
  {
    title: "Мои призы",
    path: "/user/gifts",
  },
];
const adminLinks = [
  {
    title: "Поля",
    path: "/admin/pools",
  },
  {
    path: "/admin/ships",
    title: "корабли",
  },
  {
    path: "/admin/gifts",
    title: "призы",
  },
];

const menu = computed(() => (userStore.isAdmin ? adminLinks : userLinks));
</script>

<template>
  <div class="wrapper">
    <div v-if="userStore.token" class="menu">
      <div>
        <img
          class="logo"
          src="https://media.indiedb.com/images/games/1/51/50292/battleship_banner.png"
          alt=""
        />
      </div>
      <div>
        <router-link class="link" v-for="link in menu" :to="link.path">
          {{ link.title }}
        </router-link>
      </div>
      <div>
        <router-link :to="{ path: '/user/profile' }">
          {{ userStore.name }}
        </router-link>

        <span class="logout" @click="userStore.logout">Выход</span>
      </div>
    </div>
    <router-view />
  </div>
</template>

<style scoped>
.logo {
  height: 50px;
  margin-left: 50px;
}
.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: #ffffff20;
  top: 0px;
  left: 0px;
}
.link {
  margin: 0 10px;
}
.logout {
  color: aquamarine;
  cursor: pointer;
  margin-right: 50px;
  margin-left: 20px;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
</style>
