<script setup>
import { ref, onMounted } from "vue";
import { useAdminStore } from "../stores/AdminStore";

const adminStore = useAdminStore();

const props = defineProps({
  pool: { type: Object },
});

const emit = defineEmits(["setShipsOnPool"]);
const ships = ref([]);
const matrix = ref([]);

function create() {
  const shipsOnPool = matrix.value.flat().filter((cell) => !cell.isFree); // преобразовываем в одномерный массив, затем фильтруем пустые ячейки
  emit(
    "setShipsOnPool",
    shipsOnPool.map((ship) => {
      return { id: ship.shipId, x: ship.x, y: ship.y };
    })
  );
}

function setPool(size) {
  for (let i = 0; i < size; i++) {
    matrix.value[i] = [];
    for (let j = 0; j < size; j++) {
      matrix.value[i][j] = { isFree: true, shipId: null };
    }
  }
}

function revert(index) {
  ships.value[index].revert = !ships.value[index].revert;
}

function allowDrop(event) {
  event.preventDefault();
}

function dragStart(event) {
  event.dataTransfer.setData("text/plain", event.target.id);
  event.dataTransfer.effectAllowed = "move";
  event.dataTransfer.setDragImage(event.target, 12, 12);
}

function drop(event) {
  event.preventDefault();
  const shipCoordinates = event.target.id.split("/");
  const shipId = event.dataTransfer.getData("text/plain");

  setShip(
    { x: +shipCoordinates[0], y: +shipCoordinates[1] },
    ships.value.find((ship) => ship.id === +shipId)
  );
}

function setShip(startCoordinates, ship) {
  if (ship.revert) {
    setShipOnPool("y", startCoordinates, ship);
  } else {
    setShipOnPool("x", startCoordinates, ship);
  }

  function setShipOnPool(axis, coordinates, ship) {
    const { x, y } = coordinates;
    const startCounter = coordinates[axis];
    //Проверяем помещается ли корабль от выбранной точки, до края поля по оси корабля
    if (startCounter + ship.size > matrix.value.length) {
      alert("Корабль выходит за пределы поля");
      return;
    }

    //Проверяем свободны ли ячейки
    for (let i = startCounter; i < ship.size + startCounter; i++) {
      if (!matrix.value[axis === "x" ? i : x][axis === "y" ? i : y].isFree) {
        alert("В этой области уже есть корабль");
        return;
      }
    }
    //Устанавливаем значения
    for (let i = startCounter; i < ship.size + startCounter; i++) {
      matrix.value[axis === "x" ? i : x][axis === "y" ? i : y].isFree = false;
      matrix.value[axis === "x" ? i : x][axis === "y" ? i : y].shipId = ship.id;
      matrix.value[axis === "x" ? i : x][axis === "y" ? i : y].x =
        axis === "x" ? i : x;
      matrix.value[axis === "x" ? i : x][axis === "y" ? i : y].y =
        axis === "y" ? i : y;
    }
  }
}

onMounted(async () => {
  await adminStore.getShips();
  setPool(props.pool?.size);
  ships.value = adminStore.ships;
  ships.value.forEach((ship) => (ship.revert = false));
});
</script>

<template>
  <div class="cells-wrapper">
    <div class="cell-row" v-for="(x, i) in matrix" :key="i">
      <div
        v-for="(cell, j) in x"
        class="cell"
        :class="{ cell_ship: !cell.isFree }"
        :key="j"
        @drop="drop"
        @dragover="allowDrop"
        :id="`${i}/${j}`"
      >
        {{ cell.isFree }}
      </div>
    </div>
  </div>
  <div class="ships-wrapper">
    <div class="ship" v-for="(ship, index) in ships" :key="ship">
      <h3>{{ ship.name }}</h3>

      <div
        :class="{ ship__revert: ship.revert }"
        draggable="true"
        @dragstart="dragStart"
        :id="ship.id"
      >
        <div class="cell cell_ship" v-for="x in ship.size" :key="x"></div>
      </div>

      <div class="revert" @click="revert(index)">↻</div>
    </div>
  </div>

  <button @click="create">Готово</button>
  <button @click="setPool(props.pool?.size)">Сбросить</button>
</template>

<style lang="scss" scoped>
.cells-wrapper {
  width: calc(40px * 20);
}
.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(149, 148, 148);
  width: 30px;
  height: 30px;
  margin: 1px;
  border-radius: 10%;
  border: solid 1px black;
  font-size: 12px;
  word-wrap: break-word;
}

.cell_ship {
  background-color: #0a1278;
}
.cell-row {
  display: flex;
}

.ships-wrapper {
  margin: 20px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.ship {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: bisque;
  border: #0a1278 solid 1px;
  margin: 4px;
  padding: 4px;
  position: relative;
}
.ship__revert {
  display: flex;
}
h3 {
  margin: 4px 0;
}
.revert {
  position: absolute;
  top: 0px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}
</style>
