<script setup>
import { ref, onMounted } from "vue";
import { useAdminStore } from "../stores/AdminStore";

const adminStore = useAdminStore();

const props = defineProps({
  ship: { type: Object },
});
const name = ref(props.ship?.name || "Новый корабль");
const size = ref(props.ship?.size || 1);
const giftId = ref(props.ship?.gift_id || null);

const emit = defineEmits(["setShip"]);

function create() {
  if (name.value.length < 3) {
    alert("Название корабля должно быть больше 3 символов");
    return;
  }
  if (size.value < 1) {
    alert("Размер корабля должен быть больше 0");
    return;
  }
  if (!giftId.value) {
    alert("Корабль должен иметь приз. Создайте его или выберите другой");
    return;
  }

  emit("setShip", {
    name: name.value,
    size: +size.value,
    gift_id: giftId.value,
  });
}

onMounted(async () => {
  await adminStore.getGifts();
});
</script>

<template>
  <h2>{{ name }}</h2>
  <div>Название:<input type="text" v-model="name" /></div>
  <div>
    Размер: <input type="range" :min="1" :max="4" v-model="size" /> {{ size }}
  </div>
  <div>
    Приз:<select v-model="giftId" @change="giftChange">
      <option
        v-for="option in adminStore.gifts"
        :value="option.id"
        :key="option"
      >
        {{ option.name }}
      </option>
    </select>
  </div>

  <button @click="create">Сохранить</button>
</template>

<style lang="scss" scoped></style>
