<script setup>
import { ref } from "vue";
const props = defineProps({
  gift: { type: Object },
});
const name = ref(props.gift?.name || "Новый приз");
const description = ref(props.gift?.description || "");
const url = ref(props.gift?.url_img || "");

const emit = defineEmits(["setGift"]);

function create() {
  if (name.value.length < 3) {
    alert("Название приза должно быть больше 3 символов");
    return;
  }
  if (description.value.length < 10) {
    alert("Описание приза должно быть больше 10 символов");
    return;
  }
  emit("setGift", {
    name: name.value,
    description: description.value,
    img_url: url.value,
  });
}

function checkImgUrl(event) {
  if (event.target.value) {
    const extension = event.target.value.split(".").at(-1);
    console.log(extension);
    const extensions = ["jpg", "png", "jpeg", "gif", "webp"];
    if (!extensions.includes(extension)) {
      alert("Неверный формат файла");
      event.target.value = "";
      return;
    }
  }
}
</script>

<template>
  <h2>{{ name }}</h2>
  <div>Название:<input type="text" v-model="name" /></div>
  <div>Описание:<textarea v-model="description" /></div>
  <div>
    Ссылка на картинку:<input type="url" v-model="url" @change="checkImgUrl" />
    <br />
    ссылка должна заканчиваться на .jpg, .png, .jpeg, .gif или .webp
  </div>

  <button @click="create">Сохранить</button>
</template>

<style lang="scss" scoped></style>
