<script setup>
import { ref } from "vue";
import { useAdminStore } from "../stores/AdminStore";
import ClassicEditor from "@ckeditor/ckeditor5-build-classic";

const adminStore = useAdminStore();

const props = defineProps({
  pool: { type: Object },
});
const name = ref(props.pool?.name || "Новое поле");
const size = ref(props.pool?.size || 10);
const description = ref(props.pool?.description || "Новый корабль");

const emit = defineEmits(["setPool", "close"]);

function create() {
  if (size.value <= 5 && size.value >= 20) {
    alert("Размер поля должен быть больше 5 и меньше 20");
    return;
  }

  emit("setPool", {
    name: name.value,
    size: +size.value,
    description: description.value,
  });
}
</script>

<template>
  <h2>{{ name }}</h2>
  <div>Название:<input type="text" v-model="name" /></div>
  <div>
    Размер: <input type="range" :min="5" :max="20" v-model="size" />
    {{ size }}
  </div>
  <div>
    Описание:
    <ckeditor :editor="ClassicEditor" v-model="description"></ckeditor>
  </div>

  Пример:
  <div class="cells-wrapper">
    <div class="cell-row" v-for="x in +size" :key="x">
      <div v-for="y in +size" class="cell" :key="y">{{ x }}/{{ y }}</div>
    </div>
  </div>

  <button @click="create">Сохранить</button>
</template>

<style lang="scss" scoped>
.cells-wrapper {
  width: calc(40px * 20);
}
.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(149, 148, 148);
  width: 30px;
  height: 30px;
  margin: 1px;
  border-radius: 10%;
  border: solid 1px black;
  font-size: 12px;
  word-wrap: break-word;
}
.cell-row {
  display: flex;
}
</style>
