<script setup>
import { ref, onMounted } from "vue";
import { useAdminStore } from "../stores/AdminStore";
const adminStore = useAdminStore();

const props = defineProps({
  pool: { type: Object },
});

const emit = defineEmits(["close"]);
const usersState = ref([]);
const userId = ref(2);
const shotsCounter = ref(2);

async function setUsers() {
  try {
    const isDoNotHaveShots = usersState.value.find((u) => !u.shots);
    const isDoNotHaveId = usersState.value.find((u) => !u.id);
    if (isDoNotHaveShots || isDoNotHaveId) {
      alert("Не все поля заполнены");
      return;
    }

    await adminStore.setUsersOnPool(props.pool.id, usersState.value);
    emit("close");
  } catch (e) {
    console.log(e);
    alert("Ошибка сервера");
  }
}
async function addUserById(userId, shotsCounter) {
  const user = await adminStore.getUserById(userId);
  usersState.value.push({
    id: user.id,
    login: user.login,
    shots: shotsCounter < 2 ? 2 : shotsCounter,
  });
}

function addUser(user) {
  user.shots = user.shots < 2 ? 2 : user.shots;
  if (usersState.value.findIndex((u) => u.id === user.id) === -1) {
    usersState.value.push(user);
  } else {
    alert(`Пользователь ${user.login} уже добавлен`);
  }
}

function deleteFromUserState(id) {
  usersState.value = usersState.value.filter((u) => u.id !== id);
}

onMounted(async () => {
  await adminStore.requestUsers();
  const serverUsers = await adminStore.getUsersOnPool(props.pool.id);

  usersState.value = serverUsers.map((user) => {
    const userOnPool = adminStore.users.find((u) => u.id === user.user_id);
    userOnPool.shots = user.shots;
    return user;
  });
});
</script>

<template>
  {{ usersState }}
  <h1>Добавить пользователей на поле</h1>
  Пользователи к добавлению:
  <thead>
    <tr>
      <th>id</th>
      <th>login</th>
      <th>shots</th>
      <th>edit</th>
    </tr>
    <tr v-for="user in usersState" :key="user">
      <td>{{ user.id }}</td>
      <td>{{ user.login }}</td>
      <td>
        <input style="width: 50px" type="number" min="2" v-model="user.shots" />
      </td>
      <td><button @click="deleteFromUserState(user.id)">❌</button></td>
    </tr>
  </thead>

  <button @click="setUsers()">Сохранить</button>
  <div>
    добавить по id:
    <div>
      <input type="number" placeholder="id" v-model="userId" />
      <input
        type="number"
        placeholder="количество выстрелов"
        v-model="shotsCounter"
        min="2"
      />
      <button @click="addUserById(userId, shotsCounter)">Добавить</button>
    </div>
  </div>
  <div>
    выбрать из списка:
    <thead>
      <tr>
        <th>id</th>
        <th>login</th>
        <th>shots</th>
        <th>add</th>
      </tr>
      <tr v-for="(user, i) in adminStore.users" :key="user">
        <td>{{ user.id }}</td>
        <td>{{ user.login }}</td>
        <td>
          <input
            style="width: 50px"
            type="number"
            v-model="user.shots"
            min="2"
          />
        </td>
        <td><button @click="addUser(user)">+</button></td>
      </tr>
    </thead>
  </div>
</template>

<style lang="scss" scoped></style>
