<script setup>
import { computed } from "vue";

const props = defineProps({
  gift: { type: Object },
});
</script>
<template>
  <div class="gift-card-wrapper">
    <div class="img-wrapper">
      <img
        :src="
          gift.url_img ||
          'https://static.tildacdn.com/stor3066-6637-4635-b235-306432393236/28942791.jpg'
        "
      />
    </div>
    <div>
      <h2>{{ gift.name }}</h2>
      <p>{{ gift.description }}</p>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.gift-card-wrapper {
  display: flex;
}

.img-wrapper {
  width: 200px;
  img {
    object-fit: cover;
    width: 200px;
  }
}
</style>
