<script setup>
import { onUnmounted } from "vue";
const emit = defineEmits(["close"]);
function closeModal() {
  emit("close");
}
document.addEventListener("keydown", (e) => {
  if (e.key === "Escape") closeModal();
});

onUnmounted(() =>
  document.removeEventListener("keydown", (e) => {
    if (e.key === "Escape") closeModal();
  })
);
</script>

<template>
  <div class="modal">
    <div class="modal-overlay">
      <div class="close-btn" @click="closeModal">x</div>
    </div>

    <div class="modal-content">
      <slot></slot>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  overflow-y: scroll;
}

.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.close-btn {
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  height: 100%;
  width: 100%;
  font-size: 50px;
  display: flex;
  justify-content: right;
  padding-right: 20px;
  padding-top: 20px;
  cursor: pointer;
}

.modal-content {
  z-index: 1;
  background-color: rgb(174, 174, 174);
  padding: 20px;
  color: black;
}
</style>
